@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind apply;

/* Default theme variables */
:root {
  --primary-color: #A03048; /* Default for guest or regular users */
  --foreground-rgb: 0, 0, 0;
  --background-color: #ffffff;
  --font-family: 'Montserrat', sans-serif; /* Use Montserrat globally */
}

/* Role-based themes */
[data-role="guest"],
[data-role="regular user"] {
  --primary-color: #A03048;
  --dark-color: #70223f;
  --light-color: #ffd2e3;
  --tertiary-color: #ffa6c8;
  --background-color: #ffffff;
}

[data-role="vet"] {
  --primary-color: #480777;
  --dark-color: #2c0551;
  --light-color: #d8ccff;
  --tertiary-color: #b299ff;
  --background-color: #ffffff;
}

[data-role="admin"] {
  --primary-color: #065758;
  --dark-color: #043b3c;
  --light-color: #c4f0f1;
  --tertiary-color: #8cdfe0;
  --background-color: #ffffff;
}

/* Apply the theme colors */
body {
  font-family: var(--font-family);
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

html, body {
  background-color: #f7fafc; /* This is Tailwind's gray-100 */
}

/* Utility classes */
@layer utilities {
  .bg-primary {
    background-color: var(--primary-color);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .border-primary {
    border-color: var(--primary-color);
  }
  .hover\\:border-primary:hover {
    border-color: var(--primary-color);
  }
}
