/* components/Navbar.module.css */
.navbar {
    background-color: #A03048; 
    padding: 2rem 3rem;
    height: 8rem;
    border-bottom-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
  }
  
  .logo {
    flex: 1;
    position: relative;
    top: -5px;
    transform: scale(0.7);
  }
  
  .spacer {
    flex: 2; /* Empty space in the middle */
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right:1.5rem ;
  }
  
  .navLinks a {
    color: #ffffff; /* Background (white) */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .loginBtn {
    background-color: #ffffff; /* White */
    color: #A03048; /* Primary */
    border: none;
    border-radius: 60px;
    padding: 7px 20px;
    cursor: pointer;
  }
  
  .loginBtn:hover {
    background-color: #ffffff; /* Light */
    color: #A03048; /* Dark */
    transform: scale(1.05);
  }
  