/* Container for the tab switch */
.tab-switch-container {
    display: flex;
    width: 100%;
    margin: 16px 0;
    background-color: #e0e0e0; /* Light grey background for inactive tabs */
    /*padding: 5px;*/
    border-radius: 25px; /* Fully rounded container */
  }
  
  /* Style for each tab */
  .tab {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent; /* Default transparent background */
    cursor: pointer;
    border-radius: 25px; /* Rounded tab corners */
    font-size: 16px;
    font-weight: 500;
    color: #555; /* Default text color */
    transition: transform 0.4s cubic-bezier(0.74, 0.9, 0.64, 1.1), background-color 0.4s cubic-bezier(0.27, 0.99, 0.25, 1); /* Smooth transition for background and text color */
  }
  
  .tab.active {
    background-color: #A03048; /* Active tab background color (green) */
    color: white; /* Text color for active tab */
    border-radius: 25px; /* Ensure borders are fully covered */
    font-weight: 600;
  }
  